h1{
    text-align: center;
    color: aqua;
    border-style: groove;
    border-radius: 10px;
    border-color: black;
    background-color: blue;
}
h2{
    text-align: right;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    background-color: gainsboro;
}
p{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    ;
}
